@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


// Variables
$black: #000000;
$white: #ffffff;
$lightbg: #EEE7D6;
$yellow: #F7C945;
$grey: #F1EDE9;
$blue: #0D38CE;
$light-blue: #75BDFF;
$red: #CA324F;
$light-grey: #353639;

// fonts
$inter: 'Inter', sans-serif;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

:root {
    --emo: cubic-bezier(.4, 0, .2, 1);
    --emo-in-out: cubic-bezier(.4, 0, .2, 1);
    --emo-out: cubic-bezier(0, .2, .2, 1);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: $inter;
  background-color: #0D233A;
  background-image:
    radial-gradient(
      95% 77% at 66.31% 31.06%,
      #06172C,
      #0D233A
    );
    background-size: contain;
    background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  line-height: 120%;
}

p{
  line-height: 160%;
}
a{
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
img{
  vertical-align: middle;
}
// Basic layout
.container{
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}

section{
    position: relative;
}

.header_section{
  padding-top: 32px;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 18px;
    align-items: center;
    @media (max-width: $mobile-landscape){
       justify-content: center;
       flex-wrap: wrap;
       padding: 20px 18px;
    }
    .brand{
      padding: 6px 0;
      img{
        height: 36px;
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      }
    }
    .menu{
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;
      @media (max-width: $mobile-landscape){
         justify-content: center;
         flex-wrap: wrap;
         margin-top: 20px;
      }
      ul{
        padding: 0;
        font-size: 0;
        display: flex;
        justify-content: center;
        >li{
          font-size: 18px;
          font-weight: 500;
          display: list-item;
          a{
            color: #01A3EA;
            display: block;
          }
        }
        .active{
          font-weight: 600;
          color: #ffffff;
        }
      }
      .menu-links{
        li{
          line-height: normal;
          margin: 0 22px;
          a{
            line-height: normal;
          }
        }
      }
      .menu-social{
        @media (max-width: $mobile-landscape){

           margin-top: 20px;
        }
        li{
          a{
            line-height: 0;
            margin-left: 12px;
            padding: 7px;
            img{
              height: 18px;
            }
            &:hover{
              img{
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
}

.hero_section{
  margin-top: 80px;
  @media (max-width: $mobile-landscape){
    margin-top: 20px;
  }
  .hero{
    display: flex;
    flex-direction: row;
    @media (max-width: $mobile-landscape){
      flex-direction: column;
      padding: 24px;
    }
    .text-detail{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $mobile-landscape){
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      .info{
        margin-top: 60px;
        @media (max-width: $mobile-landscape){
          margin-top: 0;
        }
        h1{
          img{
            height: 72px;
            -webkit-filter: drop-shadow(0 18px 20px rgba(0,0,0,.5));
            filter: drop-shadow(0 18px 20px rgba(0,0,0,.5));
            margin-bottom: 24px;
            @media (max-width: $mobile-landscape){
              height: 40px;
            }
          }
        }
        h3{
          font-size: 34px;
          letter-spacing: 3px;
        }
        p{
          color: #ffffff;
          max-width: 600px;
          opacity: .8;
          font-size: 22px;
          margin-top: 12px;
          @media (max-width: $mobile-landscape){
            font-size: 16px;
          }
        }

        a{
          display: inline-block;
        }


        .tool{
          margin-top: 32px;
          img{

            height: 32px
          }
        }
      }
      .credit{
        text-align: left;
        margin-top: 24px;
        margin-bottom: 80px;
        @media (max-width: $mobile-landscape){
          text-align: center;
        }
        a{
          color: #01A3EA;
          font-weight: 600;
        }
      }
    }
    .mocups{
      width: 50%;
      @media (max-width: $mobile-landscape){
        width: 100%;
      }
      .images{
        img{
          width: 630px;
          @media (max-width: $mobile-landscape){
            width: 100%;
          }
        }
      }
    }
  }
}

.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 36px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  padding: 16px 28px 14px;
  @media (max-width: $mobile-landscape){
  }
  &.btn-coffee{
    border: solid 1px #0C1521;
    background: #0C1521;
    margin-left: 6px;
    &:hover{
      background: darken(#0C1521, 5%);
    }

    cursor: pointer;
    display: inline-block;
    transition: all ease 0.2s;
    z-index: 8;
    position: relative;

    @media (max-width: $mobile-landscape){
      margin-right: 0;
    }
    h4{
      color: $white;
    }
    span{

    }
    &:hover{
      background: darken($blue, 5%);
    }
  }
}
.btn-lnks{
  margin-top: 12px;
  display: flex;
  padding: 12px 0;
  @media (max-width: $mobile-landscape){
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
  }
  .dwn-links{
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 12;
      text-align: center;
      margin-right: 24px;
      @media (max-width: $mobile-landscape){
        display: block;
        margin-right: 0;
      }
      .btn{
        @media (max-width: $mobile-landscape){
        }
      }
      .btn-download{
        background: none;
        border: 1px solid #01A3EA;
        @media (max-width: $mobile-landscape){
          margin-bottom: 18px;
        }
      }

      .dwn-list{
        z-index: 9;
        top: 0;
        left: 0;
        position: absolute;
        background: #0D233A;
        border: 1px solid #15375B;
        border-radius: 16px;
        width: 100%;
        overflow: hidden;
        height: 0;
        opacity: 0;
        -webkit-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        box-shadow: 0 8px 14px -2px rgba(0,0,0,0.1);
        -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -moz-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        -o-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
        >li{
          a{
            font-size: 14px;
            font-weight: 600;
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            margin: 0 20px;
            padding: 12px 0;
            text-decoration: none;
            vertical-align: middle;
            text-align: left!important;
            color: $white;
            img{
              height: 20px;
              margin-right: 6px;
            }
            &:hover{
              color: #01A3EA;
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }
      &:hover{
        overflow: visible;
        .dwn-list{
          text-align: left!important;
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
        .d-arrow{
          img{
            transform: scale(-1, -1);
          }
        }
      }
  }
}
